[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[[redirects]]
  from = "/api/catalogue"
  to = "/.netlify/functions/catalogue"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
